/* Тёмный задний фон */
body {
    background-color: #0f0f0f;
}

/* Центирование меню по центру */
.navbar-nav {
    float: none;
    text-align: center;
}
.navbar-nav li {
    float: none;
    display: inline-block;
}